/* 
Por padrão o navegador vai calcular o tamanho da caixa pelo content-box e vai somar com os outros boxes, no exemplo acima no lugar de 100px a caixa vai ficar com uma largura de 140px.
Para que isso não aconteça, é possível mudar qual vai ser a referência para o calculo do tamanho da caixa adicionando a propriedade box-sizing: border-box;.

Dessa forma o elemento vai ficar com a largura (width) determinado, que no caso do exemplo citado é de 100px.
*/

*{
    box-sizing: border-box;
}

div {
    width: 100px; 
    height: 100px;
    border: 1px solid red;
    margin: 10%;
    padding: 0 20px;
 }