@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';

* {
    margin: 0px;
    margin-top: 10px;
    font-family: 'Roboto';
}

h1{
    border: 1px solid red;
    padding: 30px;
}